@import './styles/variables.css';

/* Leaflet map fix for layout */
.leaflet-container {
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}
